<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog of the Day</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Dog of the Day</h1>
        <button id="fetchDog">Get Random Dog</button>
        <div id="dogContainer">
            <p>Click the button to see a random dog!</p>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>